---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% if page.sort_by_title %}
  {% assign post_list = site.categories[category] | sort: "title" %}
  {% else %}
  {% assign post_list = site.categories[category] %}
  {% endif %}
  {% for post in post_list %}
    <li>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>
